body {
  max-width: 350px;
  font-family: sans-serif;
  padding: 32px;
}

label, input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

label {
  color: hsl(0, 0%, 30%);
  margin-bottom: 5px;
}

input, output {
  padding: 16px;
  font-size: 24px;
  margin-bottom: 24px;
}

button {
  border: 1px solid #333;
  background-color: #eee;
  padding: 16px 32px;
  margin-bottom: 32px;
}
